<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <header>
                Service Spot
                <nav>
                    <a href="index.html">home</a>
                    <a href="register.html">register</a>
                    <a href="login.html">login</a>
                    <a href="aboutus.html">About us</a>
                </nav>
            </header>


        </div>
        Service Spot-Discover Reliable Local Services Near You." <br>
        "Your Gateway to Seamless Service Discovery and Booking!"<br><br>
        Welcome to ServiceSpot, your one-stop destination for finding reliable local services near you! We are dedicated to connecting service seekers with trusted professionals in various categories.<br><br>
         

        <div>


        </div>

        <div>
            <footer>
                All rights reserved &copy; 2025 ServiceSpot
            </footer>

        </div>



    </div>
</body>
</html>